<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disappearing Ninja</title>
</head>
<body>
    {% if add == "index" %}
        <p>No ninjas here</p>
    {% endif %}

    {% if add == "ninja1" %}
        <img src="{{url_for('static', filename='images/ninjas/tmnt.png')}}">
    {% endif %}

    {% if color == "red" %}
        <img src="{{url_for('static', filename='images/ninjas/raphael.jpg')}}">
    

    {% elif color == "blue" %}
        <img src="{{url_for('static', filename='images/ninjas/leonardo.jpg')}}">
    

    {% elif color == "orange" %}
        <img src="{{url_for('static', filename='images/ninjas/michelangelo.jpg')}}">
    

    {% elif color == "purple" %}
        <img src="{{url_for('static', filename='images/ninjas/donatello.jpg')}}">
    

    {% elif color %}
        <img src="{{url_for('static', filename='images/ninjas/notapril.jpg')}}">
    {% endif %}



        
</body>
</html>